.header__name {
  font-size: 2em;
  margin: 0;
  letter-spacing: 2px;
  border: 0;
  box-sizing: border-box;
  width: 100%;
  outline: 0;
}

.header__title {
  font-size: 1.3em;
  color: #666;
  margin-top: 0;
  letter-spacing: 2px;
  border: 0;
  box-sizing: border-box;
  width: 100%;
  outline: 0;
}
